<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="inn.shopping.api.dao.AddressMapper">

	<sql id="Base_Column_List">
		id, user_id, province, city, district, address, postal_code, name, phone,
		default_flag,insert_time, update_time
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from inn_address
		where id = #{id,jdbcType=VARCHAR}
	</select>

	<!-- 获取用户地址列表 -->
	<select id="selectAddressByUserId" resultType="inn.shopping.api.entity.Address" parameterType="java.lang.String">
		select <include refid="Base_Column_List" />
		from inn_address
		where user_id = #{userId,jdbcType=VARCHAR}
	</select>
	
	<!-- 获取用户默认收货地址 -->
	<select id="selectUserDefaultAddress" resultType="inn.shopping.api.entity.Address" parameterType="java.lang.String">
		select <include refid="Base_Column_List" />
		from inn_address
		user_id = #{userId,jdbcType=VARCHAR} and default_flag = 'Y'
	</select>
	
	<!-- 删除地址 -->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from inn_address where id = #{id,jdbcType=VARCHAR}
	</delete>

	<!-- 插入 -->
	<insert id="insert" parameterType="inn.shopping.api.entity.Address">
		insert into inn_address
		(id, user_id, province,
		city, district, address,
		postal_code, name, phone,
		default_flag, insert_time)
		values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR},
		#{province,jdbcType=VARCHAR},
		#{city,jdbcType=VARCHAR}, #{district,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR},
		#{postalCode,jdbcType=CHAR}, #{name,jdbcType=VARCHAR},
		#{phone,jdbcType=VARCHAR},
		#{defaultFlag,jdbcType=CHAR}, now())
	</insert>

	<!-- 修改 -->
	<update id="updateByPrimaryKey" parameterType="inn.shopping.api.entity.Address">
		update inn_address
		set
		province = #{province,jdbcType=VARCHAR},
		city = #{city,jdbcType=VARCHAR},
		district = #{district,jdbcType=VARCHAR},
		address = #{address,jdbcType=VARCHAR},
		postal_code = #{postalCode,jdbcType=CHAR},
		name = #{name,jdbcType=VARCHAR},
		phone = #{phone,jdbcType=VARCHAR},
		default_flag = #{defaultFlag,jdbcType=CHAR}
		where id = #{id,jdbcType=VARCHAR}
	</update>

	<!-- 设置当前为默认地址，其他地址需设置为非默认地址 -->
	<update id="setAddressUNdefault" parameterType="java.lang.String">
		update inn_address
		set default_flag= ‘N’
		where user_id= #{userId,jdbcType=VARCHAR}
	</update>

	<!-- 设置默认地址 -->
	<update id="setAddressDefault" parameterType="java.util.Map">
		update inn_address
		set default_flag= 'Y'
		where user_id= #{userId,jdbcType=VARCHAR}
		and id = #{id,jdbcType=VARCHAR}
	</update>
	
</mapper>