<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="inn.shopping.api.dao.AdvertisementMapper" >
  <resultMap id="BaseResultMap" type="inn.shopping.api.entity.Advertisement" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="picture_path" property="picturePath" jdbcType="VARCHAR" />
    <result column="goods_id" property="goodsId" jdbcType="VARCHAR" />
    <result column="city_code" property="cityCode" jdbcType="VARCHAR" />
    <result column="delete_flag" property="deleteFlag" jdbcType="CHAR" />
    <result column="insert_time" property="insertTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, title, picture_path, goods_id, city_code, delete_flag, insert_time, update_time
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from inn_advertisement
    where id = #{id,jdbcType=VARCHAR}
  </select>
  
  <!-- mine -->
  <!-- 查询广告列表 -->
  <select id="selectAllAdvertisement" parameterType="java.lang.String" resultType="inn.shopping.api.entity.Advertisement">
  	select * from inn_advertisement where city_code=#{cityCode}
  </select>
  
</mapper>