<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="inn.shopping.api.dao.AdvertisementMapper" >
  <resultMap id="BaseResultMap" type="inn.shopping.api.entity.Advertisement" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="picture_path" property="picturePath" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="city_code" property="cityCode" jdbcType="VARCHAR" />
    <result column="delete_flag" property="deleteFlag" jdbcType="CHAR" />
    <result column="insert_time" property="insertTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, picture_path, url, city_code, delete_flag, insert_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from inn_advertisement
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from inn_advertisement
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="inn.shopping.api.entity.Advertisement" >
    insert into inn_advertisement (id, title, picture_path, 
      url, city_code, delete_flag, 
      insert_time, update_time)
    values (#{id,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{picturePath,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR}, #{cityCode,jdbcType=VARCHAR}, #{deleteFlag,jdbcType=CHAR}, 
      #{insertTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="inn.shopping.api.entity.Advertisement" >
    insert into inn_advertisement
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="picturePath != null" >
        picture_path,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="cityCode != null" >
        city_code,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
      <if test="insertTime != null" >
        insert_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="picturePath != null" >
        #{picturePath,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null" >
        #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=CHAR},
      </if>
      <if test="insertTime != null" >
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="inn.shopping.api.entity.Advertisement" >
    update inn_advertisement
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="picturePath != null" >
        picture_path = #{picturePath,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null" >
        city_code = #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag,jdbcType=CHAR},
      </if>
      <if test="insertTime != null" >
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="inn.shopping.api.entity.Advertisement" >
    update inn_advertisement
    set title = #{title,jdbcType=VARCHAR},
      picture_path = #{picturePath,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      city_code = #{cityCode,jdbcType=VARCHAR},
      delete_flag = #{deleteFlag,jdbcType=CHAR},
      insert_time = #{insertTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <!-- mine -->
  <!-- 查询广告列表 -->
  <select id="selectAllAdvertisement" parameterType="java.lang.String" resultType="inn.shopping.api.entity.Advertisement">
  	select * from inn_advertisement where city_code=#{cityCode}
  </select>
  
</mapper>