<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="inn.shopping.api.dao.ExpertTopMapper">
	<!-- 电商达人通过city_code为外键关联city -->
	<select id="selectExpertByCategory" resultType="inn.shopping.api.entity.ExpertTop" parameterType="java.lang.String">
		select T.*,(select title from inn_goods_category where id=T.top_title)as expertCategoryName from tb_expert_top T
		<where>
			is_inn=1 and
			city_code = (select id from tb_city where city_code=#{cityCode,jdbcType=VARCHAR})
			and top_title = #{categoryId,jdbcType=VARCHAR}
		</where>
	</select>
  
</mapper>