<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="inn.shopping.api.dao.GoodsCategoryMapper" >
  <resultMap id="BaseResultMap" type="inn.shopping.api.entity.GoodsCategory" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="parent_code" property="parentCode" jdbcType="VARCHAR" />
    <result column="delete_flag" property="deleteFlag" jdbcType="INTEGER" />
    <result column="descriptiion" property="descriptiion" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, parent_code, delete_flag, descriptiion,url
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from inn_goods_category
    where id = #{id,jdbcType=VARCHAR}
  </select>
  
  <!-- mine -->
  <select id="selectAllCategory" resultType="inn.shopping.api.entity.GoodsCategory" parameterType="java.lang.String" >
    	select * from inn_goods_category where delete_flag=0 order by sort
  </select>
</mapper>