<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="inn.shopping.api.dao.GoodsMapper" >
  
  <sql id="Base_Column_List" >
    id, product_id, score, sku_code, prime_price, promotion_price, cost_price, product_area, 
    goods_title, goods_synopsis, goods_description,goods_detail, search_tag, stock, big_picture, small_picture, 
    sold_number, is_hot, is_new, up_time, down_time, status, city_code, update_time,weight,create_time,
    (select category_id from inn_product where id=product_id) as categoryId,
    (select count(1) from inn_comment where goods_id=G.id) as commentCount,
    round((select count(1) as total from inn_comment  where goods_id=G.id)/(select count(1) as cou from inn_comment where goods_id=G.id and status!='B')*100,0)
    as percentage 
  </sql>
  
  <!-- 主键查询 -->
  <select id="selectByPrimaryKey" resultType="inn.shopping.api.entity.Goods" parameterType="java.util.Map" >
    select <include refid="Base_Column_List" /> 
    from inn_goods G
    <where>
    	status =0 and id = #{id,jdbcType=VARCHAR}
    </where>
  </select>
  
  <!-- 热门商品 -->
   <select id="selectHotGoods" resultType="inn.shopping.api.entity.Goods" parameterType="java.util.Map" >
    select  <include refid="Base_Column_List" />
    from inn_goods G
    <where>
    	status=0 
    	<if test="cityCode!=null and cityCode!=''">
    		and city_code=#{cityCode,jdbcType=VARCHAR}
    	</if>
    	<if test="isHot!=null and isHot!=''">
    		and is_hot=#{isHot,jdbcType=VARCHAR}
    	</if>
    </where>
    group by product_id
    order by up_time desc,is_new,is_hot
  </select>
  
  <!-- 综合排序，按照评分销量价格;销量排序;价格排序 -->
  <select id="selectGoodsSort" resultType="inn.shopping.api.entity.Goods" parameterType="java.util.Map">
   	select  <include refid="Base_Column_List" />
    from inn_goods G
    <where>
    	status=0 
    	<if test="cityCode!=null and cityCode!=''">
    		and city_code=#{cityCode,jdbcType=VARCHAR}
    	</if>
    	<if test="brandId!=null and brandId!=''">
    		and product_id in( select id from inn_product where brand_id=#{brandId,jdbcType=VARCHAR})
    	</if>
    </where>
    order by ${sort}
  </select>
  
  <!-- 根据品牌查找商品 -->
  <select id="selectGoodsByBrand" resultType="inn.shopping.api.entity.Goods" parameterType="java.util.Map">
  	select <include refid="Base_Column_List" /> from inn_goods  G
  	 <where>
    	status=0 and 
    	product_id in( select id from inn_product where brand_id=#{brandId,jdbcType=VARCHAR})
    	<if test="cityCode!=null and cityCode!=''">
    		and city_code=#{cityCode,jdbcType=VARCHAR}
    	</if>
    </where>
  </select>
  
  
  <!-- 商品筛选 * 价格、属性、规格、品牌 -->
  <select id="goodsSearch" resultType="inn.shopping.api.entity.Goods" parameterType="inn.shopping.api.form.GoodsSearchForm">
  	select <include refid="Base_Column_List" /> from inn_goods  G
  	 <where>
    	status=0
    	<if test="search.cityCode!=null and search.cityCode!=''">
    		and city_code=#{search.cityCode,jdbcType=VARCHAR}
    	</if>
    	<if test="search.fromPrice!=null and search.fromPrice!=''">
    		and promotion_price &gt;= #{search.fromPrice,jdbcType=VARCHAR} 
    	</if>
    	<if test="search.toPrice!=null and search.toPrice!=''">
    		and promotion_price &lt;= #{search.toPrice,jdbcType=VARCHAR}
    	</if>
    	<if test="search.brandList!=null and search.brandList.size()>0">
    		and product_id in( select id from inn_product where brand_id in
    		<foreach collection="search.brandList" index="index" item="item" open="(" separator="," close=")">  
            	#{item,jdbcType=VARCHAR} 
        	</foreach>
        	 )
    	</if>
    	<if test="search.specList!=null and search.specList.size()>0">
    		and id in( select goods_id from inn_spec_item_goods_relation where spec_item_id in
    		<foreach collection="search.specList" index="index" item="item" open="(" separator="," close=")">  
            	#{item,jdbcType=VARCHAR} 
        	</foreach>
        	 )
    	</if>
    </where>
  </select>
  
</mapper>