<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="inn.shopping.api.dao.GoodsBrandMapper" >

  <select id="selectCategoryBrand" resultType="inn.shopping.api.entity.GoodsBrand" parameterType="java.lang.String">
    select * from inn_goods_brand where category_id = #{categoryId,jdbcType=VARCHAR} order by create_time
  </select>
</mapper>