<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="inn.shopping.api.dao.SearchMapper" >
  <sql id="Base_Column_List" >
    id, search_tag, user_id, device_token,device_type,delete_flag, create_time, update_time
  </sql>
  
  <select id="selectAllSearch" resultType="inn.shopping.api.entity.Search" parameterType="java.util.Map" >
	select <include refid="Base_Column_List" />
	from inn_search
	<where>
		delete_flag=0
		<if test="userId!=null and userId!=''">
			and user_id=#{userId,jdbcType=VARCHAR}
		</if>
		<if test="deviceToken!=null and deviceToken!=''">
			and device_token=#{deviceToken,jdbcType=VARCHAR}
		</if>
	</where>
  </select>
  
  <select id="selectByDeviceUserId" resultType="inn.shopping.api.entity.Search">
  	select <include refid="Base_Column_List" />
	from inn_search
	<where>
		<if test="userId!=null and userId!=''">
			and user_id=#{userId,jdbcType=VARCHAR}
		</if>
		<if test="deviceToken!=null and deviceToken!=''">
			and device_token=#{deviceToken,jdbcType=VARCHAR}
		</if>
		<if test="searchTag!=null and searchTag!=''">
			and search_tag=#{searchTag,jdbcType=VARCHAR}
		</if>
	</where>
  </select>
  
  <update id="updateStatusByPrimaryKey" parameterType="java.lang.String" >
    update inn_search
    set delete_flag = #{deleteFlag,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <insert id="insert" parameterType="inn.shopping.api.entity.Search" >
    insert into inn_search 
    	(id, search_tag, user_id,device_token,device_type,delete_flag, create_time)
    values 
    	(#{id,jdbcType=VARCHAR}, #{searchTag,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
        #{deviceToken,jdbcType=VARCHAR}, #{deviceType,jdbcType=INTEGER}, #{deleteFlag,jdbcType=INTEGER}, 
        now())
  </insert>
  
	<!-- 
	<insert id="insertOrUpdate" parameterType="inn.shopping.api.entity.Search">
	  	insert into inn_search 
	  		(id, search_tag, user_id,device_token,device_type,delete_flag,create_time)
	    values 
	    	(#{id,jdbcType=VARCHAR}, #{searchTag,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
	        #{deviceToken,jdbcType=VARCHAR}, #{deviceType,jdbcType=INTEGER}, #{deleteFlag,jdbcType=INTEGER}, 
	        now())
	    ON DUPLICATE KEY UPDATE
	        delete_flag=values(deleteFlag)
	</insert> 
	<insert id="insertOrUpdate" parameterType="inn.shopping.api.entity.Search">
	  <selectKey keyProperty="count" resultType="int" order="BEFORE">
	    select count(1) from inn_search where search_tag = #{searchTag,jdbcType=VARCHAR}
	  </selectKey>
	  <if test="count > 0">
	    update inn_search set delete_flag = 0 where id = #{id,jdbcType=VARCHAR}
	  </if>
	  <if test="count==0">
	    insert into inn_search 
  			(id, search_tag, user_id,device_token,device_type,delete_flag,create_time)
    	values 
    		(#{id,jdbcType=VARCHAR}, #{searchTag,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
        	#{deviceToken,jdbcType=VARCHAR}, #{deviceType,jdbcType=INTEGER}, #{deleteFlag,jdbcType=INTEGER}, 
        	now())
	  </if>
	</insert>
	-->
</mapper>